* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f2f2f2;

}

section .card .image {
    height: 140px;
    width: 140px;

    /* 사진의 크기를 둥글게 만듬. */
    border-radius: 50%;
    padding: 3px;
    background: #7d2ae8;
}

section .card .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    /* 사진의 크기를 둥글게 만듬. */
    border: 3px soild #fff;
}

.card {
    position: relative;
    /* 자기 자신의 기본 위치에서 상대적으로 이동 */
    background: #fff;
    border-radius: 20px
}

.card .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: relative;
    z-index: 100;
}

.card::before {
    content: "";
    position: absolute;
    height: 30%;
    width: 100%;
    background: #7d2ae8;
    border-radius: 20px 20px 0 0;
}

.card .name-profession {
    display: flex;
    flex-direction: column;
    /* flex 로 컨테이너 지정 후 direction 으로 세로정렬 */
    align-items: center;
    margin-top: 10px;
    font-size: 15px;
}

.blog-icon,
.github-icon {
    color: black;
    margin: 10px;
    font-size: 25px; /* 아이콘 크기 설정 */
    cursor: pointer; /* 커서를 포인터로 변경하여 클릭 가능하게 함 */
}

.blog-icon:hover,
.github-icon:hover {
    opacity: 0.8; 
    background: #fff;
    /* 호버 시 투명도 조절 */
    cursor: pointer; /* 호버 시 커서를 포인터로 변경 */
    color: red; /* 호버 시 컬러를 빨간색으로 변경 */
}

.content {
    display: flex;
    flex-direction: row; 
    /* 요소를 가로로 정렬 */
    gap: 20px;
}

.card .aboutMe {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 20px;
    background: #7d2ae8;
    outline: none;
    border: none;
    color: #fff;
    padding: 8px 22px;
    border-radius: 20px;
    font-size: 10px;
    transition: all 0.3s ease;
}

.aboutMe:hover{
    background: #6616d0;
}